/* AGENT_SHEET */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro:400|Roboto:300,500);

@font-face {
  font-family: 'ionicons';
  src: url('file:///E:/Harvest/ionicons-1.4.0/ionicons-1.4.0/fonts/ionicons.woff') format('woff');
}

@-moz-document domain(boards.4chan.org) {

.mobile,
#boardNavDesktop,
#postForm,
.boardSubtitle,
hr:not(#unread-line),
.pagelist,
#boardNavDesktopFoot,
#absbot,
.bottomCtrl,
.postInfo > input[type=checkbox],
.postingMode,
.page-num,
body:not(.is_index) .navLinks {
  display: none;
}

*,
::before,
::after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

:focus {
  outline: 0 !important;
}

:root {
  var-basicwhite: #fefefe;
  var-basicblack: #3d3d3d;
  var-basicblue: #3498db;
}

html {
  font-family: source sans pro;
  font-size: 1rem;
  line-height: 1.6;
  color: var(basicblack);
  text-rendering: optimizeLegibility;
  background-color: var(basicwhite);
  overflow-y: scroll;
}

html, body {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
}

a {
  color: var(basicblue) !important;
  text-decoration: none !important;
}

.name,
.subject {
  font-weight: 700;
}

.current {
  font-weight: 500;
}

blockquote {
  margin: .5rem 0 0 .5rem;
}

s {
  color: var(basicblack);
  background-color: var(basicblack);
  text-decoration: none;
  transition: color .25s;
}

s:hover {
  color: var(basicwhite);
}

code,
kbd,
pre,
.postertrip {
  font-family: source code pro, inconsolata, monospace;
  font-size: 1em;
}

pre {
  font-size: .75rem;
  color: #4d4d4c;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: .25rem !important;
  border-radius: 5px;
  margin: 0 !important;
  max-width: 100%;
  display: inline-block;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.prettyprint .str { color: #718c00 }
.prettyprint .kwd { color: #8959a8 }
.prettyprint .com { color: #8e908c }
.prettyprint .typ,
.prettyprint .fun { color: #4271ae }
.prettyprint .lit,
.prettyprint .atn,
.prettyprint .dec { color: #f5871f }
.prettyprint .tag,
.prettyprint .var { color: #c82829 }
.prettyprint .atv { color: #3e999f }

img {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  font-family: inherit !important;
  font-size: 100% !important;
  font-weight: inherit !important;
  color: inherit !important;
  line-height: inherit !important;
  margin: 0;
}

button,
html input[type=button],
html input[type=submit] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  vertical-align: top;
  resize: vertical;
}
    


#header {
  font-family: roboto, sans-serif;
  font-weight: 300;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(61,61,61,0);
  -moz-user-select: none;
       user-select: none;
  transition: all .25s ease-in-out;
}

#header:hover {
  background-color: rgba(61,61,61,.25);
}

.bannered:root #header {
  position: fixed;
  background-color: rgba(61,61,61,1);
}

#header a {
  color: var(basicwhite) !important;
  transition: all .25s;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

#header a:hover {
  background-color: rgba(0,0,0,.25);
}

#header-bar {
  position: relative;
  width: 75%;
  margin: auto;
}

/* `#toggle-header-bar` is used to calculate 'scroll to' values. */

#toggle-header-bar {
  position: absolute;
  bottom: 0;
}

#board-list a {
  text-align: center;
  display: block;
  float: left;
  min-height: 3rem;
  min-width: 3rem;
  padding: 1rem;
}
    
    #full-board-list {
        font-size: 0;
        color: transparent;
    }
    
    #full-board-list a {
        font-size: 1rem;
    }
    
    #full-board-list a[href$='/c/'] {
        display: none;
    }

#shortcuts .fa::before {
  font-family: ionicons;
  font-size: 1rem;
  line-height: 1;
  color: var(basicwhite);
  text-rendering: auto;
  text-align: center;
  display: block;
  float: right;
  min-height: 3rem;
  min-width: 3rem;
  padding: 1rem;
  transition: all .25s;
}

#shortcuts .fa:hover::before {
  background-color: rgba(0,0,0,.25);
}

#shortcuts .fa-bars::before {
  content: '\f1b4';
}

#shortcuts .fa-refresh::before {
  content: '\f28e';
}

#shortcuts .fa-refresh.fa-spin::before {
  background: none;
  transition: none;
  animation: 1s linear 0s normal none infinite spin;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

#shortcuts .expand-all-shortcut::before {
  content: '\f160';
}

#shortcuts .contract-all-shortcut::before {
  content: '\f160';
  background-color: rgba(0,0,0,.25);
}

/*
  Notifications
document.dispatchEvent(new CustomEvent('CreateNotification', {
detail: {
type: 'success', // info, warning, error
content: 'hey baby',
lifetime: 0
}
}));
*/

#notifications {
  height: 0;
  text-align: center;
}

.notification {
  color: var(basicwhite);
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  width: 50rem;
  padding: 1rem 0;
  margin: .25rem auto;
  position: relative;
}

.notification.error {
  background-color: #e74c3c;
}

.notification.warning {
  background-color: #f1c40f;
}

.notification.info {
  background-color: #3498db;
}

.notification.success {
  background-color: #2ecc71;
}

.notification > .close::before {
  content: '\f2bd';
  font-family: ionicons;
  font-size: 1.5rem;
  text-rendering: auto;
  display: block;
  position: absolute;
  top: .75rem;
  right: 1rem;
}
    
    /* http://fuzzytolerance.info/blog/simple-header-and-footer-parallax-effect/*/

.boardBanner {
  font-family: roboto, sans-serif;
  font-size: 5rem;
  font-weight: 500;
  line-height: 1;
  color: var(basicwhite);
  text-align: center;
  text-shadow: 0 1px 1px rgba(61,61,61,.5);
  box-shadow: inset 0 0 300px #000;
  -moz-user-select: none;
       user-select: none;
  cursor: default;
  text-transform: lowercase;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}

.boardBanner::after {
  content: '';
  position: absolute;
  top: -2rem;
  right: -2rem;
  bottom: -2rem;
  left: -2rem;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  -webkit-filter: blur(10px); /* Firefox support, fucking when? */
  /* In the mean time, use this old method that causes lag: */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'10\'/></filter></svg>#blur");
}

.board_g .boardBanner::after {
  background-image: url('file:///E:/Harvest/gee.jpg');
}

.board_fa .boardBanner::after {
  background-image: url('file:///E:/2013/Images/Fashion/Puma%20Mihara%20MY-71%20Shoes.jpg');
}

.board_fit .boardBanner::after {
  background-image: url('file:///E:/2013/Images/Fitness/Bodies/1383345019056.jpg');
}

.board_pol .boardBanner::after {
  background-image: url('file:///E:/2013/Images/Jew/1381521158903.jpg');
}

.board_v .boardBanner::after {
  background-image: url('file:///E:/Pictures/2012%20Images/ISHYGDDT/1325371980670.jpg');
}

.navLinks {
  font-size: 0;
  color: transparent;
  background-color: var(basicblack);
  padding: .5rem 0;
  text-align: center;
}

#index-last-refresh {
  font-size: .75rem;
  color: var(basicwhite);
}

#index-search {
  -moz-appearance: none;
  font-size: .75rem !important;
  color: var(basicblack) !important;
  padding: .1rem;
  border: 0;
  border-radius: 2px;
  margin-left: 1rem;
}

.board,
.thread,
.postContainer {
  position: relative;
}

#header-bar::after,
.board::after,
.thread::after,
.postContainer::after,
.post::after {
  content: '';
  display: table;
  clear: both;
}

.thread {
  padding: 2rem 0;
}

.thread:nth-of-type(even) {
  background-color: #fafafa;
}

.thread > .postContainer, .thread > .stub {
  width: 75%;
  margin: auto;
}

.post {
  padding: 1rem;
  transition: box-shadow .25s;
}

.subject:not(:empty)::after {
  content: ' by ';
  font-weight: 400;
  color: #999;
}

.postNum > a:first-child {
  font-size: 0;
  color: transparent;
}

.postNum > a:first-child::before {
  content: '#';
  font-size: 1rem;
}

.dateTime,
.file {
  color: #999;
}

.file {
  font-size: .75rem;
}

.fileThumb {
  float: left;
  margin: .5rem;
}

.quote {
  color: #5f9654;
}

.view-thread {
  display: inline-block;
  background-color: #3498db;
  color: #fefefe !important;
  line-height: 1;
  padding: .5rem .75rem !important;
  vertical-align: middle !important;
  border-radius: 3px;
  box-shadow: 0 3px 0 #2980b9;
  transition: background .1s;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.view-thread:hover {
  background-color: #1baae3;
}

.view-thread:active {
  padding-top: calc( .5rem + 1px ) !important;
  margin-bottom: -1px !important;
  box-shadow: 0 1px 0 #2980b9;
}

.expanded-image > .post > .file > .fileThumb > img[data-md5],
.postContainer:not(.expanded-image) > .post > .file > .fileThumb > .full-image {
  display: none;
}

.expanding {
  opacity: .5;
}

.expanded-image {
  clear: both;
}

.fit-height:root .full-image {
  max-height: 100vh;
}

.fit-width:root .full-image {
  max-width: 100%;
}

.gecko.fit-width:root .full-image {
  width: 100%;
}

/*
  Honestly, when was the last time you actually hid a thread, let alone a reply?
  If you need to hide a thread or reply, just use the menu.
*/

.hide-thread-button,
.hide-reply-button {
  display: none;
}

.postContainer > .post > .postInfo > .menu-button {
  font-size: 0;
  color: transparent !important;
  display: block;
  height: 1rem;
  width: 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  transition: opacity .25s;
}

.postContainer > .post > .postInfo > .menu-button::before {
  content: '\f20e';
  font-family: ionicons;
  font-size: 1rem;
  display: block;
  color: #3d3d3d;
}

.postContainer:hover > .post > .postInfo > .menu-button {
  opacity: 1;
}

.summary {
  color: var(basicblack) !important;
  border: 3px solid var(basicblack);
  display: block;
  text-align: center;
  max-width: 30rem;
  padding: 1rem;
  margin: 1rem auto;
  transition: all .25s;
}

.summary:hover {
  color: var(basicwhite) !important;
  background-color: var(basicblack);
}

.postNum span:last-child {
  font-size: 0;
  color: transparent;
}

.replylink {
  font-size: 1rem;
  color: var(basicwhite) !important;
  background-color: var(basicblue);
  padding: .5rem .75rem;
}

.forwardlink {
/*
  text-decoration: underline !important;
  -moz-text-decoration-style: dashed !important;
*/
  border-bottom: 1px dashed;
}

.backlink {
  font-size: 0;
  color: transparent;
}

.backlink::before {
  content: '\f16a';
  font-family: ionicons;
  font-size: 1.1rem;
  color: var(basicblack);
  display: inline-block;
  border: 0;
}

.deadlink {
  text-decoration: line-through !important;
}

.inlined {
  opacity: .75;
}

.backlink.inlined::before,
.backlink.forwardlink::before {
  content: '\f16b';
}

.thread .stub ~ * {
  display: none;
}

.stub {
  position: relative;
}

.stub > a:first-child {
  color: #3d3d3d !important;
}

.stub .menu-button {
  position: absolute;
}

.inline {
  clear: both;
  box-shadow: inset 1px 0 0 #e3e3e3;
}

.qphl {
  box-shadow: inset 1px 0 0 #f1c40f;
}

.interest {
  box-shadow: inset 1px 0 0 var(basicblue);
}

.watcher-toggler::before {
  font-family: ionicons;
  font-size: 1.1rem;
  color: var(basicblack) !important;
  display: inline-block;
}

.fa-bookmark-o::before {
  content: '\f198';
}

.fa-bookmark::before {
  content: '\f199';
}

/* #header might have a different CSS menu that those of posts... */

#menu {
  font-size: .75rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid #e3e3e3;
}
    
    #header #menu {
        text-shadow: none;
        border: 0;
        left: auto !important;
        right: 0 !important;
    }

#menu.top {
  top: 100%;
}

#menu.bottom {
  bottom: 100%;
}

#menu.left {
  left: 0;
}

#menu.right {
  right: 0;
}

.entry {
  color: #3d3d3d;
  background-color: #fefefe;
  cursor: pointer;
  padding: .25rem .5rem;
  position: relative;
  white-space: nowrap;
}
    
    #header .entry {
        color: var(basicwhite);
        background-color: var(basicblack);
        padding: .5rem;
    }

a.entry { color: #3d3d3d !important; }

.entry:hover {
  background-color: #fafafa;
}
    
    #header .entry:hover {
        background-color: #2d2d2d;
    }

.entry.disabled {
  color: #999;
}

.has-submenu::after {
  content: '\f154';
  font-family: ionicons;
  font-size: .5rem;
  color: var(basicblack);
  display: inline-block;
  margin: 4px;
  position: absolute;
  right: 3px;
}
    
    #header .has-submenu {
        padding-left: 1.25rem;
    }
    
    #header .has-submenu::after {
        content: '\f153';
        color: var(basicwhite);
        right: auto;
        left: 3px;
    }

.has-submenu:not(.focused) > .submenu {
  display: none;
}

.submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid #e3e3e3;
}
    
    #header .submenu {
        border: 0;
        left: -100% !important;
        right: auto !important;
    }

.submenu.top {
  top: 0;
}

.submenu.bottom {
  bottom: 0;
}

.submenu.left {
  left: 100%;
}

.submenu.right {
  right: 100%;
}

.entry input {
  margin: 0;
}
    
    #header input[type=checkbox] {
        -moz-appearance: none;
        color: var(basicwhite) !important;
        background-color: var(basicblack) !important;
        border: 1px solid var(basicwhite) !important;
    }

#unread-line {
  border: 0;
  margin: 0;
  height: 1px;
  background: #5f9654;
}

.deleted-post {
  opacity: .5;
}

#qp {
  position: fixed;
  background-color: rgba(254, 254, 254, .9);
  border: 1px solid rgba(227, 227, 227, .9);
  z-index: 15;
}

#qp img {
  max-height: 80vh;
  max-width: 50vw;
}

#thread-watcher .move {
  display: none;
}

#thread-watcher {
  position: fixed;
  background-color: rgba(254, 254, 254, .9);
  padding: .5rem;
  top: -100% !important;
  right: 30% !important;
  bottom: auto !important;
  left: auto !important;
  z-index: 15;
}

#thread-watcher::before {
  content: '\f188';
  font-family: ionicons;
  font-size: 1.25rem;
  line-height: 1rem;
  color: var(basicwhite);
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  cursor: pointer;
  padding: 1rem;
  max-width: 3rem;
  max-height: 3rem;
  display: block;
  position: fixed;
  top: 0;
  right: 30%;
  transition: background-color .25s;
}

#thread-watcher:hover {
  top: 3rem !important;
}

#thread-watcher:hover::before {
  background-color: rgba(0,0,0,.5);
}
    
    #thread-watcher .fa-times::before {
        content: '\f2bd';
        font-family: ionicons;
        display: inline-block;
        color: indianRed;
    }
    
    #thread-watcher .dead-thread a[title] {
        text-decoration: line-through !important;
    }

#qr {
  position: fixed;
  background-color: var(basicblack);
  padding: .5rem;
  top: -100% !important;
  right: calc( 30% + 3rem ) !important;
  bottom: auto !important;
  left: auto !important;
  z-index: 15;
}

#qr::before {
  content: '\f17d';
  font-family: ionicons;
  font-size: 1.25rem;
  line-height: 1rem;
  color: var(basicwhite);
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  cursor: pointer;
  padding: 1rem;
  max-width: 3rem;
  max-height: 3rem;
  display: block;
  position: fixed;
  top: 0;
  right: calc( 30% + 3rem );
  transition: background-color .25s;
}

#qr:hover, #qr.has-focus {
  top: 3rem !important;
}

#qr:hover::before, #qr.has-focus::before {
  background-color: rgba(0,0,0,.5);
}

#qr > div:first-child,
#qr:not(.dump) #dump-list-container,
#file-n-submit.has-file #qr-no-file,
#file-n-submit:not(.has-file) #qr-filename,
#file-n-submit:not(.has-file) #qr-filesize,
#file-n-submit:not(.has-file) #qr-file-spoiler,
#file-n-submit:not(.has-file) #qr-filerm,
#qr-filename:focus ~ #qr-filesize {
  display: none;
}

#qr #file-n-submit-container input[type=file] {
  visibility: hidden;
}

#qr .field {
  -moz-appearance: none;
  background-color: #fefefe;
  border: 0;
  padding: .25rem;
  transition: all .25s;
  margin-right: 1px;
}

#qr .persona .field:not(:last-of-type) {
  margin-right: 1px;
}

#qr .field::-moz-placeholder {
  color: #ababab;
  opacity: 1;
}

.field[disabled] {
  color: #909090;
  background-color: #ababab;
}

#qr .persona {
  display: flex;
}

#qr .persona .field {
  flex: 1 1 0;
}

#qr .persona .field:hover,
#qr .persona .field:focus {
  flex: 3 1 0;
}

#qr #dump-button {
  -moz-appearance: none;
  background: #cdcdcd;
  border: 0;
  padding: 0 .5rem;
  margin-right: 1px;
}

#qr #dump-button:hover {
  background: #bababa;
}

#qr #dump-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  counter-reset: qrpreviews;
}

#qr #dump-list:hover {
    bottom: -12px;
    overflow-x: auto;
    z-index: 1;
}

#qr .qr-preview {
  background-position: 50% 20%;
  background-size: cover;
  color: #fefefe;
  cursor: move;
  display: inline-block;
  font-size: .75rem;
  height: 5rem;
  margin: 1px;
  opacity: .5;
  overflow: hidden;
  padding: .25rem;
  position: relative;
  transition: opacity .25s;
  vertical-align: top;
  white-space: pre;
  width: 5rem;
}

#qr .textarea {
  margin: 1px 0;
  position: relative;
}

#qr textarea {
  width: 100%;
  height: 10rem;
}

#qr #file-n-submit-container {
  position: relative;
  height: 36px;
}

#qr #file-n-submit {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  color: #ababab;
}

#qr #file-n-submit-container input[type=file] {
  visibility: hidden;
}

#qr input[type=submit] {
  -moz-appearance: none;
  color: #fefefe !important;
  background-color: #5f9654;
  border: 0;
  order: 1;
  padding: .25rem;
  margin-right: 1px;
}

#qr #qr-file-button {
  -moz-appearance: none;
  background: #cdcdcd;
  border: 0;
  padding: .25rem;
  margin: 1px;
  margin-left: 0;
  margin-right: .5rem;
  color: #3d3d3d !important;
}

#qr #qr-no-file {
  cursor: default;
  flex: 1 1 0;
}

#qr-filename {
  -moz-appearance: none;
  background: none;
  border: 0;
  flex: 1 1 0;
  text-overflow: ellipsis;
}

#qr-filesize {
  font-size: .8em;
}

#qr-filesize:before {
  content: "(";
}

#qr-filesize:after {
  content: ")";
}

#qr-filerm {
  color: indianRed !important;
  margin: 0 .5rem;
}

#updater {
  position: fixed;
  top: 1rem !important;
  right: 50% !important;
  bottom: auto !important;
  left: auto !important;
  z-index: 15;
  width: 10rem;
  margin-right: -5rem;
}

#updater:not(:hover) > div:not(.move) {
  display: none;
}

#updater .move {
  font-family: roboto;
  font-weight: 300;
  color: var(basicwhite);
  line-height: 1;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

#updater .new {
  color: #5f9654;
}

/*
 qr: '\f17d';
 tw: '\f188';
*/

progress[value] {
  position: fixed;
  top: 48px;
  width: 100%;
  height: 2px;
  -moz-appearance: none;
  border: none;
  background: none;
}

progress[value]::-moz-progress-bar { 
  background: #5f9654;
}

#overlay {
  position: fixed;
  height: 100%;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30;
  background: rgba(0,0,0,.5);
}

#fourchanx-settings {
  width: 37em;
  height: 100%;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 31;
  background-color: #2a76c1;
  animation: .25s ease-in-out 100ms normal forwards 1 moveIn;
  transform: translateX(37em);
}

@-moz-keyframes moveIn {
  100% {
    transform: translateX(0);
  }
}

#fourchanx-settings nav {
  height: 100%;
  width: 7em;
}

#fourchanx-settings nav .credits {
  display: none;
}

.sections-list {
  font-size: 0;
  color: transparent;
}

.sections-list a {
  font-size: 1rem;
  color: #3d3d3d !important;
  display: block;
  background-color: #438dd7;
  padding: 1rem;
}

.sections-list a.tab-selected {
  font-weight: 400;
  background-color: #74b6f7;
}

.sections-list a:not(.tab-selected):hover {
  background-color: #5ea3e8;
}

.section-container {
  font-size: .8rem;
  background-color: #74b6f7;
  position: absolute;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100%;
  overflow: auto;
  padding: .5rem;
}

#fourchanx-settings fieldset {
  padding: .25rem .5rem;
  border: 1px solid #438dd7;
  margin: .5rem 0;
}

#fourchanx-settings label {
  font-weight: 400;
  text-decoration: underline;
}

#fourchanx-settings .section-keybinds .field {
  font-family: monospace !important;
}

#fourchanx-settings .section-filter textarea,
#fourchanx-settings .section-qr textarea,
#fourchanx-settings .section-sauce textarea {
  width: 100%;
  height: 350px;
}
    
    .warning {
       color: indianRed;
    }

}
